/* Resets and global styles */

html, body {
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: .8em;
  background: #F5F8FA;
}

body.dark {
  background: #393F4C;
  color: #9DA1A5;
}

input {
  font-size: inherit;
}

.box {
  border: 1px solid #E1E8ED;
  border-radius: 5px;
  background: white;
}

.dark .box {
  background: #272B35;
  border-color: #454d5d;
}

.separated {
  border-bottom: 1px solid #E1E8ED;
}

.dark .separated {
  border-color: #454d5d;
}

.separated:last-child {
  border-bottom: none;
}

a {
  color: #4C9ED9;
}

.dark a {
  color: #00ff7f;
}

a:hover {
  text-decoration: none;
}

/* General page layout */

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1em 2em;
  margin: 0;
  font-size: 1em;
}

main {
  position: relative;
  margin: 2em;
  display: block;
  padding-top: 30px;
}

.sidebar:last-child {
  top: 55px;
  right: 20px;
}

.sidebar {
  position: fixed;
  width: 170px;
  margin: 0px 0.2em;
  font-size: .9em;
  flex-shrink: 0;
}

.main {
  display: flex;
  margin: 0px 190px;
  box-sizing: border-box;
}

.footer {
  clear: both;
  border-width: 1px 0 0 0;
  border-radius: 0px;
  padding: 1em 2em;
  text-align: center;
}

/* Header */

header.box {
  position: fixed;
  width: 100%;
  border-radius: 0;
  border-width: 0 0 1px 0;
  z-index: 1;
  box-sizing: border-box;
}

header span {
  cursor: pointer;
  margin-left: 40px;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  left: 2em;
  width: 32px;
  background: url(logo.png) no-repeat center;
}

.loading header::before {
  -webkit-animation: rotate .5s linear infinite;
  animation: rotate .5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

header .links {
  float: right;
  display: inline;
  font-weight: normal;
}

header .links li {
  display: inline;
  margin-left: 1em;
}

header .links li:first-child {
  margin-left: 0;
}

/* Filters list */

.filters li {
  padding: .8em;
  box-sizing: border-box;
  display: flex;
}

.filters li input {
  order: 0;
  margin: 0 .5em 0 0;
}

.filters li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Bug list entry */

.bug {
  padding: .5em;
  position: relative;
}

.bug:hover {
  background: #fafafa;
}

.dark .bug:hover {
  background: #14171A;
}

.bug .bug-link {
  margin-bottom: .5em;
}

.bug .bug-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.dark .bug .bug-link a {
  color: #00ff7f;
}

.bug .bug-link a:hover {
  color: #4C9ED9;
}

.bug .bug-link .bug-number {
  font-size: .9em;
  text-decoration: none;
  font-weight: normal;
  margin-left: .5em;
  opacity: .5;
}

.bug .toggle-comment {
  opacity: .5;
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.bug .toggle-comment::before {
  content: "Read more";
}

.bug.expanded .toggle-comment::before {
  content: "Hide comment"
}

.bug .tag {
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
  margin-right: 2px;
  border: 1px solid;
  border-width: 0 0 1px 0;
  font-size: .8em;
  max-width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: help;
  color: #333;
}

.dark .bug .tag {
  opacity: 0.65;
}

.bug .tag.mentor {
  border-color: #8cc6c6;
  background: #bef8f8;
}

.bug .tag.good-first-bug {
  border-color: #ff8700;
  background: #ffc369;
}

.bug .tag.old-bug {
  background-color: #d7d7d7;
  border-color: #999;
}

.bug .tag.has-patch {
  background-color: #73f5b9;
  border-color: #0bc247;
}

.bug .tag.tool {
  border-color: #150f57;
  background: #2b8fca;
  color: white;
}

.bug .comment {
  font-size: .9em;
  color: #696969;
  overflow: hidden;
  margin: 1em 0 0 0;
  white-space: pre-line;
  display: none;
  margin: 1em;
  padding: 1em;
}

.bug.expanded .comment {
  display: block;
}

.bug .comment .attachment {
  display: block;
  margin-bottom: .5em;
  max-height: 200px;
}

/* Search input */

.search-input {
  margin: .8em;
  width: calc(100% - 1.6em);
  box-sizing: border-box;
  padding: .5em;
  border: 1px solid #E1E8ED;
  border-radius: 2px;
  background: #fff;
  color: inherit;
}

.dark .search-input {
  background: #181D20;
  border-color: #454d5d;
}

/* Top contributors */

.top-contributors:not(.loading) {
  padding: .8em;
}

.top-contributors .summary {
  font-weight: bold;
}

.contributor {
  margin: .8em 0 0 0;
}

/* Loading screen */

.loading:empty {
  color: #999;
}

.loading:empty::after {
  content: "Loading";
  display: inline-block;
  background-repeat: no-repeat;
  padding: .5em;
}


@media (max-width: 650px) {

  header .links {
    display: none;
  }

  .header, .footer {
    background-color: #0c3757;
    color: white;
  }

  main {
    margin: 0;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
  }

  .sidebar, .sidebar:last-child, .main {
    position: relative;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    border-radius: 0px;
  }

  .box {
    border: 0px;
  }

  .bugs {
    border: 1px solid #E1E8ED;
  }

  .footer a {
    text-decoration: none;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }
}
