main {
  /* Increase the margin on the right to allow the user to scroll the main container
     since bug lists can also be scrollable */
  margin-right: 5em;
  flex-direction: column;
  align-items: stretch;
}

.bugs.box {
  max-height: 300px;
  overflow: auto;
}

.bug .bug-link {
  margin: 0;
}

.bug .bug-link a {
  font-weight: normal;
}

.bug .priority, .bug .assignee {
  float: right;
  margin: 0 .5em;
  font-weight: bold;
}

.bug .tag.old-bug {
  background-color: red;
  border-color: #832d2d;
  color: white;
}
